---
import Bagde from '../components/Bagde.astro';
import Linkedin from '../components/icons/Linkedin.astro';
import Whatsapp from '../components/icons/Whatsapp.astro';
import Layout from '../layouts/Layout.astro';
import SocialPill from '../components/SocialPill.astro';
import Github  from '../components/icons/Github.astro';
import Mail from '../components/icons/Mail.astro';
import Html from '../components/icons/Html.astro';
import Css from '../components/icons/Css.astro';
import Javascript from '../components/icons/JavaScript.astro';
import Typescript from '../components/icons/Typescript.astro';
import React from '../components/icons/React.astro';
import Tailwind from '../components/icons/Tailwind.astro';
import Git from '../components/icons/Git.astro';
import Java from '../components/icons/Java.astro';
import Postman from '../components/icons/Postman.astro';
import Postgres from '../components/icons/Postgres.astro';
import SprinBoot from '../components/icons/Spring.astro';
import Footer from '../components/Footer.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Button from '../components/Button.astro';
---

<Layout title="Cristian Garcia | Porfolio - Desarrollador y programador web">
	<main>
		<div class="py-30 ">
			<SectionContainer id= "photo" class="flex flex-col justify-center items-center">
				<img class ="size-50 rounded-full" src="https://res.cloudinary.com/dlrpxgsbt/image/upload/v1739067207/iwoacfiwabyuptlqyacm.png" alt="myphoto">
				
				<div class="flex flex-row gap-x-5 mt-10">
					<Button><a href = "https://drive.google.com/uc?export=download&id=1p6DzTni-B3D7QImDAQz3d1qaBYVhYcTa" class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent">
						Download CV (Spanish)</a></Button>
				</div>
			</SectionContainer>
			<SectionContainer id= "aboutme" class="w-full lg:w-1/2 mx-auto  gap-x-4 py-10">
				<h1 class="text-white text-5xl font-bold flex justify-center flex-row">I'M CRISTIAN GARCIA
					<a  href="https://github.com/Akiii-lab" class=" px-2  flex justify-center items-center"><Bagde> Available to work</Bagde></a></h1>
				<h2 class="py-5 text-2xl text-wrap opacity-80">System Engineer stundent and Web Developer <span class="font-bold  text-amber-500"> from Colombia </span>, i'm a developer 
					focus on back-end development but i also have knowledge 
					in front-end development and i like to learn new things</h2>
				
				<nav class="flex gap-x-2 justify-center">
					<SocialPill href="https://api.whatsapp.com/send/?phone=%2B573014892839&text&type=phone_number&app_absent=0">
						<Whatsapp class="size-10"></Whatsapp>
					</SocialPill>
					<SocialPill href="https://www.linkedin.com/in/andres-garcia-sierra-447b09302/">
						<Linkedin class="size-10"></Linkedin>
					</SocialPill>
					<SocialPill href="https://github.com/Akiii-lab">
						<Github class="size-10"></Github>
					</SocialPill>
					<SocialPill href="mailto:garciasierrandres@gmail.com">
						<Mail class="size-10"></Mail>
					</SocialPill>
				</nav>
			</SectionContainer>
		</div>
		<SectionContainer id= "techs" class="flex flex-col items-center py-20">
			<h1 class="text-white text-5xl font-bold flex justify-center flex-row">My Techs</h1>
			<div class="flex flex-row gap-x-5 mt-10">
				<Html class:list={["size-20"]}/>
				<Css class:list={["size-20"]}/>
				<Javascript class:list={["size-20"]}/>
				<Typescript class:list={["size-20"]}/>
				<React class:list={["size-20"]}/>
				<Tailwind class:list={["size-20"]}/>
				<Git class:list={["size-20"]}/>
				<Java class:list={["size-20"]}/>
				<Postgres class:list={["size-20"]}/>
				<Postman class:list={["size-20"]}/>
				<SprinBoot class:list={["size-20"]}/>
			</div>
		</SectionContainer>
		<SectionContainer id= "projects" class="flex flex-col items-center py-40 gap-y-7">
			<h1 class="text-white text-5xl font-bold flex justify-center flex-row">My Projects</h1>
			<div class="flex flex-row gap-x-5 mt-10">
				<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-amber-900 dark:border-transparent">
					<a href="#">
						<img class="rounded-t-lg" src="/docs/images/blog/image-1.jpg" alt="" />
					</a>
					<div class="p-5">
						<a href="#">
							<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Airlines Manager API</h5>
						</a>
						<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Is a project with an API Rest in springboot, is a project can you save airports, airplanes, flights and customers in a SQL database.</p>
						<a href="https://github.com/Akiii-lab/api-web-airlines" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-amber-700 rounded-lg hover:bg-amber-950 focus:ring-4 focus:outline-none focus:ring-blue-300">
							To GitHub
							<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
							</svg>
						</a>
					</div>
				</div>
				<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-amber-900 dark:border-transparent">
					<a href="#">
						<img class="rounded-t-lg" src="/docs/images/blog/image-1.jpg" alt="" />
					</a>
					<div class="p-5">
						<a href="#">
							<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Airlines Web Site</h5>
						</a>
						<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Is a project with React and Vite, is a frontend for the Airlines Manager API, in this page you can buy tickets to fly.</p>
						<a href="https://github.com/Akiii-lab/front-airlines" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-amber-700 rounded-lg hover:bg-amber-950 focus:ring-4 focus:outline-none focus:ring-blue-300">
							To GitHub
							<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</SectionContainer>
		<SectionContainer class="flex flex-col items-center py-40 mb-1">
			<Footer />
		</SectionContainer>
	</main>
</Layout>
