<header class="flex justify-center py-3">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="#techs">My Techs</a>
        <a href="#projects">My Projects</a>
    </nav>
</header>